<!DOCTYPE HTML>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="options">
    <div id="content">
      <p style="font-size: 0.8em; text-align:center;">
        Project can be viewed at <a href="https://clarkmu.com/reportGenerator">my website</a>
        <br>
        This project is also available on <a href="https://github.com/clarkmu/reportGenerator">GitHub</a>
      </p>
      <div id="instructions">
        To Use:<ol>
          <li>Select charts to include in print out</li>
          <li>"Choose File" use .csv file exported from Google AdSense</li>
          <li>Click "Start"</li>
          <li>Drag and drop charts</li>
          <li>Right click page, select "Print...", select "Save as PDF" (This box does not appear in PDF)</li>
        </ol>
      </div>
      <div v-for="chart in charts">
        <input type="checkbox" v-bind:value="chart" v-model="checkedCharts" v-bind:id="chart"/>
        <label v-bind:for="chart">{{chart}} Chart</label>
      </div>
      <input type="file" v-on:change="fileLoad"><br>
      <button v-on:click="initChart">Start</button>
    </div>
    <div id="chartContainer">
      <div v-for="chart in checkedCharts" class="draggable chartDisplayContainer"></div>
    </div>
  </div>
  <!-- <div id="chartContainer"></div> -->
  
  <script src="lib/jquery-2.1.3.js"></script>
  <script src="lib/jquery-ui.js"></script>
  <script src="lib/papaparse.js"></script>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="lib/vue.js"></script>
  <script src="script.js"></script>
</body>
</html>