
  
  @media print{
    
    #options{
      display: none;
    }
    
    .draggable{
      border: none;
      resize:none;
    }
    
    html{
      border: none;
    }
    
  }
  
  .draggable{
    
    border: solid;
    width: auto;
    
  }
  
  html{
    
    width: 970px;
    
    border: solid;
    
  }
  
  #f{
    
      margin: 10px;
      
  }
  
  table{
    
      width: 99%;
      
      height: auto;
      
      empty-cells: hide;
      
      margin: 10px;
      
      align: center;
      
  }
  
  tr{
    
    width: 100%;
    
  }
  
  td{
    
      width: 45%;
      
      height: 200px;
      
  }
  
  #instructions{
    padding: 10px;
  }
  
  #options{
    
    margin: 10px;
    
    width: auto;
    
    border: solid; 
    
    border-color: black;  
    
    background-color: #CCC;
    
    width: auto;
    
  }
  
  #optionsContent{
    
    font-size: 1.4em;
    
    margin: 15px;
    
  }
  
  #innerLeft{
    float:left;
    width:auto;
  }
  
  #innerRight{
    padding-left:15px;
  }
  
input[type=checkbox]
{/* Double-sized Checkboxes */
  -ms-transform: scale(1.4); /* IE */
  -moz-transform: scale(1.4); /* FF */
  -webkit-transform: scale(1.4); /* Safari and Chrome */
  -o-transform: scale(1.4); /* Opera */
  padding: 10px;
}












